::-webkit-scrollbar {display:none;}

@font-face {
    font-family: 'Monolog';
    src: url('assets/Monolog-Bold.woff');
}

@font-face {
    font-family: 'Cascadia';
    src: url('assets/Cascadia.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Monolog';
}

p, a {
    font-family: 'Cascadia';
}

.full-height {
    min-height: 100vh;
    height: auto;
}

/* Mobile Styling */
.w-sm-100 {
    @media only screen and (max-width: 600px) {
        width: 100% !important;
    }
}

.w-sm-75 {
    @media only screen and (max-width: 600px) {
        width: 75% !important;
    }
}

/* Desktop Styling */
.w-md-25 {
    @media only screen and (min-width: 768px) {
        width: 25% !important;
    }
}

/* Desktop Styling */
.w-md-75 {
    @media only screen and (min-width: 768px) {
        width: 75% !important;
    }
}

.card a {
    color: black !important;
}

.active-scroll-spy { 
    text-decoration: underline !important;
    color: black !important;
  }